! BurritoWorks WEST store {{ site_id }} ACLs
{% for name, rules in acls.items() %}
no ip access-list extended {{ name }}
ip access-list extended {{ name }}
{% for rule in rules %}
 {{ rule | regex_replace(' log$', '') }}
{% endfor %}
!
{% endfor %}
